.build

# Swift PM - ignore most but allow schemes
.swiftpm/*
!.swiftpm/xcode/
.swiftpm/xcode/*
!.swiftpm/xcode/xcshareddata/
.swiftpm/xcode/xcshareddata/*
!.swiftpm/xcode/xcshareddata/xcschemes/

.DS_Store
xcuserdata
**/Storefront.xcconfig
**/*.entitlements
.vscode/settings.json
.claude/
CLAUDE.md

# ShopifyAcceleratedCheckoutsApp
*.graphqls
apollo-ios-cli

.dev/
