--indent 4
--linebreaks lf
--wraparguments before-first
--wrapcollections before-first
--commas inline
--allman false
--semicolons inline
--trimwhitespace always
--disable redundantReturn
--swiftversion 5.10