// --- Storefront
// --- Find your Storefront API access token under:
// ----- https://admin.shopify.com/store/{STOREFRONT}/settings/apps/development/{APP_ID}/api_credentials

STOREFRONT_DOMAIN = <INSERT_STOREFRONT_DOMAIN>
STOREFRONT_ACCESS_TOKEN = <INSERT_STOREFRONT_ACCESS_TOKEN>

// --- Buyer preference data
EMAIL = test-checkout-sdk@shopify.com

FIRST_NAME = Test
LAST_NAME = Test

ADDRESS_1 = The Cloak & Dagger
ADDRESS_2 = 1st Street Southeast
CITY = Calgary
COUNTRY = CA
PROVINCE = AB
ZIP = T1X 0L3
PHONE = +155565708743
