STOREFRONT_DOMAIN = <yourdomainhere.myshopify.com>
STOREFRONT_ACCESS_TOKEN = <storefront access token>
ADDRESS_1 = The Cloak & Dagger
ADDRESS_2 = 1st Street Southeast
CITY = Calgary
COUNTRY = CA
FIRST_NAME = Test
LAST_NAME = McTest
PROVINCE = AB
ZIP = T1X 0L3
EMAIL = test-checkout-sdk@shopify.com
PHONE = +155565708743

// Auth

SHOP_ID = <shop id>
CUSTOMER_ACCOUNTS_API_CLIENT_ID = <client id>

// Optional, defaults to shop.<shopId>.app://callback
CUSTOMER_ACCOUNTS_API_REDIRECT_URI = <redirect uri>
