name: Deploy

on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  cocoapods:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: ruby/setup-ruby@d5126b9b3579e429dd52e51e68624dda2e05be25 # v1.267.0
        with:
          bundler-cache: true

      - name: Deploy to Cocoapods
        run: |
          set -eo pipefail
          bundle exec pod lib lint --allow-warnings --verbose
          bundle exec pod trunk push --allow-warnings --verbose
        env:
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
