name: Deploy

on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  cocoapods:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: ruby/setup-ruby@ac793fdd38cc468a4dd57246fa9d0e868aba9085 # v1.270.0
        with:
          bundler-cache: true

      - name: Deploy to Cocoapods
        run: |
          set -eo pipefail
          bundle exec pod lib lint --allow-warnings --verbose
          bundle exec pod trunk push --allow-warnings --verbose
        env:
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
