name: Lint

on:
  pull_request:
  workflow_dispatch:

jobs:
  # swiftlint is a separate/duplicate effort here, as it will also report to Annotations 
  swiftlint:
    name: SwiftLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: norio-nomura/action-swiftlint@9f4dcd7fd46b4e75d7935cf2f4df406d5cae3684 # 3.2.1
        with:
          args: --strict

  swiftformat:
    name: SwiftFormat & SwiftLint
    runs-on: macos-15
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - run: |
          brew install swiftlint swiftformat 
      - run: ./Scripts/lint check --verbose

  check-license-headers:
    name: License Headers
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - run: ./Scripts/ensure_license

  lint-podspec:
    name: CocoaPods
    runs-on: macos-13
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: ruby/setup-ruby@ac793fdd38cc468a4dd57246fa9d0e868aba9085 # v1.270.0
        with:
          bundler-cache: true
      - run: bundle exec pod lib lint --allow-warnings
